body{
    text-align:center;
    background-size:rgb(74, 226, 208) ;
    color: rgb(158, 143, 212);
}

#Dog.png{
    width:20%
}


.iten {
    text-align:left;
    font-size: 25px;
    color: #0c0c0cea;
    display: inline-block;
    width: 43%;
    height:43%;
    margin-left: 02%;
    margin-right: 03%;
}

.imagem {
    display: inline-block;
    width: 20%;
    height:20%;
    text-align:right;
    margin-left: 00%;
    margin-right: 05%;
}



h1{
    background-color: aquamarine;
    text-align: center ;
    font: size 300px;;
    color:rgb(238,202,43)
}

h2{
    background-color: rgb(237, 203, 240)
}


