body{
    text-align:center;
    background-size:rgb(74, 226, 208) ;
    color: rgb(158, 143, 212);
}

#Dog.png{
    width:50%
}

h1{
    background-color: aquamarine;
    text-align: center ;
    font: size 300px;;
    color:rgb(238,202,43)
}

h2{
    background-color: rgb(237, 203, 240)
}


